fastapi
jinja2
uvicorn
python-multipart
langchain
langchain-community
langchain-pinecone
langchain-google-genai
pypdf
python-docx
docx2txt
passlib[bcrypt] 
python-multipart
itsdangerous
itsdangerous
pymongo